nav {
height: 10vh;
background-color: blue;
position: relative;
}

.nav-links {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
  }

.nav-links li {
    display: inline;

}

.nav-links li:not(:last-child) {
    margin-right: 10px;
}

.nav-links li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}

main{
height: 80vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.right {
    background-color: cyan;
    float: right;
    position: relative;
}

.left {
    background-color: yellow;
    float: left;
}

.center {
    position: absolute;
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate (-50%, 50%)
    }

.left, 
.right {
    height: 80vh;
    width: 50%;
}


footer {
    height: 10vh;
    background-color: blue
}

.top { 
    height: 50%;
    background-color: red;
}


.grid1 {
    height: 50%;
    width: 50%;
    background-color: lavenderblush;
    float: left;
}
  
.grid2 {
    height: 50%;
    width: 50%;
    background-color: orange;
    float: left;
}
  
.grid3 {
    height: 50%;
    width: 50%;
    background-color: greenyellow;
    float: left;
}
  
.grid4 {
    height: 50%;
    width: 50%;
    background-color: hotpink;
    float: left;
}